@import url("style.css");

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-text);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(14px);
    position: fixed;
    width: 100%;
    padding: 1rem 1rem;
    z-index: 10;
}

.header__link{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__img{
    width: 5rem;
    border-radius: 50%;
}

.header__texto{
    text-align: center;
    font-size: 2em;
    font-family: "Press Start 2P", system-ui;
    color: var(--bg-color);
}

.menu{
    width: 40%;
}

.menu__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu__link{
    font-size: 1.8rem;
    font-weight: 550;
}

.menu__link a{
    color: var(--bg-color);
}

@media screen and (max-width:768px) {
    header{
        flex-direction: column;
        justify-content: center;
        gap: 13px;
    }
}