@import url("style.css");

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    padding: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: linear-gradient(45deg, rgba(31, 31, 31, 0.7819502801120448) 62%, rgba(4, 13, 18, 1) 100%), url("../images/programmer_about.jpeg");
}

.about__container {
    width: 47%;
    flex-wrap: wrap;
}

.about__title {
    color: var(--bg-color);
    font-size: 3rem;
    font-family: "Press Start 2P", system-ui;
}

.about__text {
    font-size: 3rem;
    color: var(--bg-color);
}

.about__description {
    font-size: 1.8rem;
    padding-top: 2rem;
    color: var(--bg-color);
    line-height: normal;
}

.about__social {
    padding-top: 2rem;
    text-align: center;
}

.about__icon .bx {
    font-size: 3rem;
    padding-top: 12px;
    color: var(--bg-color);
}

.about__icon .bx:hover {
    transition: var(--transition);
    font-size: 4rem;
    color: var(--second-color);
    cursor: pointer;
}

.about__media {
    width: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;

}

.about__img {
    width: 50%;
    min-width: 25rem;
    border-radius: 30%;
}

@media screen and (max-width:768px) {
    .about {
        flex-direction: column-reverse;
        height: auto;
        gap: 3rem;
        flex-wrap: nowrap;
    }

    .about__container {
        width: 100%;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 4rem 2rem 0 2rem;
    }

    .about__img {
        width: 100%;
        border-radius: 50%;
    }

    .about__title {
        text-align: center;
    }

    .about__text {
        padding-top: 3rem;
        font-size: 4rem;
    }

    .about__description {
        font-size: 3rem;
        text-align: justify;
    }

    .about__icon .bx {
        font-size: 6rem;
    }

    .about__media {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
    }
}

@media screen and (max-width: 395px){
    .about{
        background-size: cover;
    }
    .about__title{
        font-size: 2.5rem;
    }
    .about__text{
        font-size: 2rem;
    }
    .about__description{
        font-size: 1.8rem;
    }
    .about__media{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .about__img{
        width: 100%;
        min-width: 10rem;
    }
    .about__icon .bx {
        font-size: 3rem;
    }
}