@import url("style.css");
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
   font-size: 62.5%;    
}

a{
    text-decoration: none;
    transition: var(--transition);
}

textarea{
    resize: none;
}

.title__span{
    color: var(--second-color);
}

