@import url("animation.css");

.hero {
    display: flex;
    padding-top: 9rem;
    align-items: center;
    height: 100vh;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10rem;
    background-color: var(--dark);
}

.hero__container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hero__img {
    width: 20%;
    border-radius: 50%;
    min-width: 25rem;
    animation: flotating__icon 3s ease infinite 0.4s;
}

.hero__title {
    font-size: 3rem;
    font-family: "Press Start 2P", system-ui;
    color: var(--bg-color);
}

.hero__description {
    font-size: 2rem;
    font-family: "Press Start 2P", system-ui;
    margin-top: 1rem;
    color: var(--bg-color);
    animation: text__blur 1s cubic-bezier(0.55, 0.05, 0.68, 0.53) 0.3s both;
}


@media screen and (max-width:768px) {
    .hero {
        flex-direction: column-reverse;
        padding-top: 0;
        height: 100dvh;
    }

    .hero__title {
        font-size: 9rem;
    }

    .hero__description {
        font-size: 4rem;
        padding: 0 1rem;
    }
}

@media screen and (max-width: 412px) {
    .hero__title{
        font-size: 4rem;
    }
    .hero__description{
        font-size: 1.8rem;
        flex-wrap: wrap;
    }
}