.skills {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.skills__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 3rem;
    z-index: 5;

}

.skills__title {
    text-align: center;
    font-size: 3em;
    font-family: "Press Start 2P", system-ui;
    color: var(--bg-color);
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 13px;
    padding: 2rem 3rem;
}

.card__description {
    color: #888;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
}

.skills__academic__courses{
    text-align: center;
    justify-content: center;
    padding: 2rem;
}

.skills__academic__title{
    text-align: center;
    font-size: 3em;
}
.skills__academic__item{
    padding-top: 2rem;
    text-align: center;
    font-size: 1.5em;

}

.card:hover>.card__icon {
    animation: flotating__icon 3s ease infinite 0.4s;
    font-size: 9rem;
    transition: transition;
}
.card:hover>.card__description{
    font-size: 2rem;
    color: var(--second-color);
    transition: transition;
}
.card__icon {
    font-size: 3rem;

}

.card__description {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--bg-color);
    margin-top: 0.8rem;
}

@media screen and (max-width:768px) {
    .hero{
        padding: 9rem 0;
    }
    .skills {
        height: auto;
        padding: 2rem 1rem;
    }

    .skills__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4rem;
        animation: none;
        flex-direction: row;
        width: 100%;
    }

    .card__icon {
        min-width: 5rem;
        min-height: 5rem;
    }

    .card {
        border-radius: var(--border-radius);
        align-items: center;
        width: 100px;
        height: 50px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .card__icon{
        font-size: 3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .card__description{
        margin-top: 0;
        text-align: center;

        align-items: center;
        justify-content: center;
    }
    .skills__container{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
    }
    
}