:root {
    --color-card: hsl(265, 96%, 43%);
    --color-boton: hsl(217, 96%, 17%);
    --color-text: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 98%);
    --bg-color: hsl(0, 0%, 100%);
    --transition: 0.4s, background-color 0.2s ease-in-out;
    --primary-color: hsl(265, 96%, 43%);
    --border-radius: 2.5rem;
    --second-color: #fd8f44;
    --dark: #32012F;
    --lighther-green: #76ABAE;
    --gradient-blue: linear-gradient(145deg, rgb(0, 0, 0) 10%, rgb(0, 5, 36) 90%);
}

body.dark {
    --bg-color: hsl(0, 0%, 15%);
    --color-text: hsl(0, 0%, 98%);
}